	
	body,html{
			padding: 0;
			margin: 0;
		}
			
/*-- header --*/
		.rounded{
			width: 150px;
			height: 150px;
			background-color: #646363;
			border-width: 10px;
			border: solid;
			border-color: white;
			border-radius: 50%;
			position: absolute;
			margin-top: -10px;
			margin-left: 15%;
			display: table-row;
		}
		
		.intro{

			font-size: 20px;
			font-family: ubuntu;
			color: #626060;
			display: table-row;
			visibility: visible;
		}

		.container-top{
		
			width: 100%;
			height: 400px;
			background-color: #46cc7f;
			
		}
		
		.container-top h1{
			font-size: 90px;
			font-family: roboto;
			display: table-row;
			margin-top: 50%;

		}
		
		.outer{
			
			width: 100%;
			height: 100%;
			display: table;
			
		}
		
		.inner{
			
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}
		
		.centerd{
			
			display: inline-block;
			position: relative;
			text-align: center;
		}
		
		nav ul{
			background-color: #38A366;
			overflow: hidden;
			color: white;
			padding: 0;
			text-align: center;
			margin-top: -2%;

		}
		
		nav ul li:hover{
			
			background-color: rgba(91, 91, 91, 0.77);
		}

		nav ul li{
			display: inline-block;
			padding: 20px;
			font-family: open-sans;
			font-size: 19.5px;
			-webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		}
		a{
			text-decoration: none;
			color: inherit;
		}
		.my-sticky-element.stuck {
			position: fixed;
			box-shadow: 0 2px 4px rgba(0, 0, 0, .6);
			top: 0;
			margin-top: 0.009em;
			padding-top: 5px;
			width: 100%;
			font-family: open-sans;
			font-size: 19px;
			z-index: 100;
			
		}
		
/*-- back to top button --*/
		.scrollup{
			position: fixed;
			bottom: 3em;
			right: 2em;
			text-decoration: none;
			color: white;
			background-color: #46cc7f;
			font-size: 14px;
			padding: 1em;
			border-radius: 10px;
			-webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
			font-family: roboto;
			display: none;

		}

		.scrollup:hover{
			background-color: gray;
		}

/*-- footer --*/
		footer{
			width: 100%;
			height: 40px;
			background-color: #646363;
			bottom: 0px;
		}

		.footer-container{
			
			width: 100%;
			height: 100%;
			display: table;
			text-align: center;
			color: white;
			font-family: roboto;
			font-size: 12px;
			padding-top: 15px;

		}


/*-- media query --*/		

		@media(min-width: 900px){
			
		nav ul li{
			display: inline-block;
			padding: 20px;
			font-family: open-sans;
			font-size: 25px;
			-webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		}
				
      
		}



		@media(max-width: 400px){
		nav ul li{
			display: inline-block;
			padding: 20px;
			font-family: open-sans;
			font-size: 10px;
			-webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		}
			  .twitter {
           font-family: socicon ;
		   font-size: 40px;
		   color: white;
		   opacity: 0.7;
		   -webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		   vertical-align: middle;
		   display: inline-block;

		   

        }
       .facebook {
           font-family: socicon ;
		   font-size: 40px;
		   color: white;
		   opacity: 0.7;
		   -webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		   vertical-align: middle;
		   display: inline-block;


        }
       .google {
           font-family: socicon ;
		   font-size: 40px;
		   color: white;
		   opacity: 0.7;
		   -webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		   vertical-align: middle;
		   display: inline-block;
	

        }

	   .google:hover {
           font-family: socicon ;
		   font-size: 40px;
		   color: red;



        }

		.facebook:hover {
           font-family: socicon ;
		   font-size: 40px;
		   color: blue;

	

        }

	   .twitter:hover {
           font-family: socicon ;
		   font-size: 40px;
		   color: cornflowerblue;


        }
		

			

		}

		
		@media(max-width: 578px){
			  .twitter {
           font-family: socicon ;
		   font-size: 40px;
		   color: white;
		    padding:0 auto;
		   opacity: 0.7;
		   -webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		   vertical-align: middle;
		   display: inline-block;

		   

        }
			
					.text{
			font-family: ubuntu;
			font-size: 16px;
			text-align: center;
			margin-top: 60px;
			padding: 30px;


		}
       .facebook {
           font-family: socicon ;
		   font-size: 40px;
		   color: white;
		   padding:0 auto;
		   opacity: 0.7;
		   -webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		   vertical-align: middle;
		   display: inline-block;


        }
       .google {
           font-family: socicon ;
		   font-size: 40px;
		   color: white;
		   padding:0 auto;
		   opacity: 0.7;
		   -webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		   vertical-align: middle;
		   display: inline-block;
	

        }

	   .google:hover {
           font-family: socicon ;
		   font-size: 40px;
		   color: red;



        }

		.facebook:hover {
           font-family: socicon ;
		   font-size: 40px;
		   color: blue;

	

        }

	   .twitter:hover {
           font-family: socicon ;
		   font-size: 40px;
		   color: cornflowerblue;


        }
	
		}

/*-- work section --*/
		section{
			width: 100%;
			height: 600px;
			display: table;

		}

		 .work{
			background-color: #4a3f60;
		}

		.poster-item{
			width: 150px;
			height: 200px;
			background-color: gray;
			z-index: -20;
			box-shadow: 0 2px 4px rgba(0, 0, 0, .6);
			margin:0 auto;
			-webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		}

		.poster-item:hover{
			-webkit-filter: blur(2px);
			-o-filter: blur(2px) ;
			filter: blur(2px) ;
		}

		h5{
			font-family: open-sans;
			color: white;
			text-align: center;
			padding-top: 10px;
		}
		.work .container h1{
			color: white;
			text-align: center;
			padding-top: 30px;
			font-size: 50px;
			font-family: open-sans;
			font-style: italic;
			padding-top: 15px;
			padding-bottom: 15px;
		}
		.work .container p{
			visibility: visible;
			font-family: ubuntu;
			line-height: 30px;
		}



/*-- about section --*/

		.text-block{
			
			padding: 30px;
			color: white;
			
		}
		.about article h1{
			font-family: open-sans;
			font-size: 25px;
			
		}
		.header{
			padding: 30px;
			font-family: open-sans;

		}
		.text{
			font-family: ubuntu;
			font-size: 16px;
			text-align: center;
			margin-top: 60px;


		}
		.text p{

			line-height: 20px;
			text-align: center;

		}






		




/*-- social --*/

		.social{
			padding: 0;
			text-align: center;
			overflow: hidden;
			margin-top: 5%;
		}

       .twitter {
           font-family: socicon ;
		   font-size: 40px;
		   color: black;
		   padding: 1em;
		   opacity: 0.7;
		   -webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		   vertical-align: middle;
		   display: inline-block;

		   

        }
       .facebook {
           font-family: socicon ;
		   font-size: 40px;
		   color: black;
		   padding: 1em;
		   opacity: 0.7;
		   -webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		   vertical-align: middle;
		   display: inline-block;


        }
       .google {
           font-family: socicon ;
		   font-size: 40px;
		   color: black;
		   padding: 1em;
		   opacity: 0.7;
		   -webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		   vertical-align: middle;
		   display: inline-block;
	

        }

	   .google:hover {
           font-family: socicon ;
		   font-size: 40px;
		   color: red;



        }

		.facebook:hover {
           font-family: socicon ;
		   font-size: 40px;
		   color: blue;

	

        }

	   .twitter:hover {
           font-family: socicon ;
		   font-size: 40px;
		   color: cornflowerblue;

        }

		.single{
			font-family: open-sans;
			font-size: 30px;
			padding: 0;
			margin-top: 10%;
			text-align: center;
		}




/*-- contact form--*/


section.contact {
	padding-bottom: 210px;
	margin-top: 3%;
}

section.contact > a {
	width: 180px;
	height: 170px;


	display: block;
	margin: 0 auto 45px auto;
	overflow: hidden;
	text-indent: -9999px;
	background: url('../img/budgie_wink3.png') no-repeat 0px -175px;


}

section.contact > a:hover {
	background: url('../img/budgie_wink3.png') no-repeat 0px 0px;
}

section.contact h2 {
	color: #4b4c51;
	margin-bottom: 30px;
}

section.contact em {
	color: #999999;
	font-style: normal;
}

section.contact h6 {
	margin-bottom: 30px;
}

section.contact .socialicons {
	width: 222px;
	height: 72px;
	margin: 0 auto 30px auto;
	clear: both;
}

section.contact .socialicons a {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	margin: 12px;
	background: url('../img/sprites.png') no-repeat -1px -1px;
	display: block;
	float: left;
	text-indent: -9999px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

section.contact .socialicons a:hover {

	margin-top: 7px;
}

section.contact .socialicons a:active {

	opacity: 0.8;}

section.contact .socialicons a[href*="twitter"] {
	background-position: -55px 1px;
}

section.contact .socialicons a[href*="dribbble"] {
	background-position: -104px 1px;
}

section.contact .socialicons a[href*="mailto:"] {
	background-position: -154px 1px;
}


section.contact form {
	width: 600px;
	background-color: #eeeeee;
	border-radius: 6px;
	margin: 20px auto;
	display: block;
	padding: 10px;
	position: relative;
}

.contactform h6 {
	padding: 60px 0px 30px 0px;
	color: #999;
	line-height: 36px;
}

section.contact input {
	width: 260px;
	height: 50px;
	padding: 0px 0px 0px 20px;
	border-radius: 3px;
	background-color: white;
	border: none;
	color: #46cc7f;
	margin: 10px;
	float: left;
}

section.contact input:focus,
section.contact input:active,
section.contact textarea:focus,
section.contact textarea:active {

	outline-color: #46cc7f;
	outline-style: solid;
	outline-width: 2px;
}

section.contact textarea {
	width: 540px;
	height: 80px;
	padding: 20px;
	color: #46cc7f;
	border-radius: 3px;
	background-color: white;
	margin: 10px;
	border: none;
	resize: vertical;
}

section.contact button {
	display: block;
	padding: 15px 30px;
	background-color: #46cc7f;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	color: white;
	border-radius: 6px;
	margin: 10px 178.50px;
	position: absolute;
	bottom: -100px;
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}

section.contact button:hover {
	background-color: gray;
}

section.contact button:active {
	background-color: #d4618c;
	
}




		section.contact {
		padding-bottom: 50px;
	}
	@media (max-width: 650px){
	
	section.contact form {
		width: 90%;
	}
	
	section.contact input {
		width: 85%;
		margin: 5%;
		padding-left: 5%;
	}
	
	section.contact textarea {
		width: 85%;
		margin: 5%;
		padding: 5% 0 5% 5%;

	}
	
	section.contact button {
		position: relative;
		bottom: auto;
		margin: 10px auto;
	}
	
	.return_scroll {
	
	display: none;
	}
	}