	
	body,html{
			padding: 0;
			margin: 0;
		}
			
		
		.rounded{
			width: 150px;
			height: 150px;
			background-color: #646363;
			border-width: 10px;
			border: solid;
			border-color: white;
			border-radius: 50%;
			position: absolute;
			margin-top: -10px;
			margin-left: 15%;
			display: table-row;
		}
		
		p{
		
			color: white;
			visibility: hidden;

		}
		.intro{

			font-size: 20px;
			font-family: ubuntu;
			color: #626060;
			display: table-row;
			visibility: visible;
		}

		.container-top{
		
			width: 100%;
			height: 400px;
			background-color: #46cc7f;
			
		}
		
		h1{
			font-size: 90px;
			font-family: roboto;
			display: table-row;
			margin-top: 50%;

		}
		
		.outer{
			
			width: 100%;
			height: 100%;
			display: table;
			
		}
		
		.inner{
			
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}
		
		.centerd{
			
			display: inline-block;
			position: relative;
			text-align: center;
		}
		
		nav ul{
			background-color: #38A366;
			overflow: hidden;
			color: white;
			padding: 0;
			text-align: center;
			margin-top: -2%;

		}
		
		nav ul li:hover{
			
			background-color: rgba(91, 91, 91, 0.77);
		}

		nav ul li{
			display: inline-block;
			padding: 20px;
			font-family: open-sans;
			font-size: 19.5px;
			-webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		}
		a{
			text-decoration: none;
			color: inherit;
		}
		.my-sticky-element.stuck {
			position: fixed;
			box-shadow: 0 2px 4px rgba(0, 0, 0, .6);
			top: 0;
			margin-top: 0.009em;
			padding-top: 5px;
			width: 100%;
			font-family: open-sans;
			font-size: 19px;
			z-index: 100;
			
		}
		

		.scrollup{
			position: fixed;
			bottom: 3em;
			right: 2em;
			text-decoration: none;
			color: white;
			background-color: #46cc7f;
			font-size: 14px;
			padding: 1em;
			border-radius: 10px;
			-webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
			font-family: roboto;
			display: none;

		}

		.scrollup:hover{
			background-color: gray;
		}

		footer{
			width: 100%;
			height: 120px;
			background-color: #646363;
			bottom: -10px;
		}

		.footer-container{
			
			width: 100%;
			height: 100%;
			display: table;
			text-align: center;
			bottom: -10px;
		}



			

		@media(min-width: 900px){
			
		nav ul li{
			display: inline-block;
			padding: 20px;
			font-family: open-sans;
			font-size: 25px;
			-webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		}
				
      
		}



		@media(max-width: 400px){
			
		nav ul li{
			display: inline-block;
			padding: 20px;
			font-family: open-sans;
			font-size: 15px;
			-webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		}
			  .twitter {
           font-family: socicon ;
		   font-size: 40px;
		   color: white;
		   padding:0;
		   opacity: 0.7;
		   -webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		   vertical-align: middle;
		   display: inline-block;

		   

        }
       .facebook {
           font-family: socicon ;
		   font-size: 40px;
		   color: white;
		   padding: 0;
		   opacity: 0.7;
		   -webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		   vertical-align: middle;
		   display: inline-block;


        }
       .google {
           font-family: socicon ;
		   font-size: 40px;
		   color: white;
		   padding: 0;
		   opacity: 0.7;
		   -webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		   vertical-align: middle;
		   display: inline-block;
	

        }

	   .google:hover {
           font-family: socicon ;
		   font-size: 40px;
		   color: red;



        }

		.facebook:hover {
           font-family: socicon ;
		   font-size: 40px;
		   color: blue;

	

        }

	   .twitter:hover {
           font-family: socicon ;
		   font-size: 40px;
		   color: cornflowerblue;


        }
		

			

		}

		
		@media(max-width: 578px){
			  .twitter {
           font-family: socicon ;
		   font-size: 40px;
		   color: white;
		   padding: 0;
		   opacity: 0.7;
		   -webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		   vertical-align: middle;
		   display: inline-block;

		   

        }
       .facebook {
           font-family: socicon ;
		   font-size: 40px;
		   color: white;
		   padding: 0;
		   opacity: 0.7;
		   -webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		   vertical-align: middle;
		   display: inline-block;


        }
       .google {
           font-family: socicon ;
		   font-size: 40px;
		   color: white;
		   padding: 0;
		   opacity: 0.7;
		   -webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		   vertical-align: middle;
		   display: inline-block;
	

        }

	   .google:hover {
           font-family: socicon ;
		   font-size: 40px;
		   color: red;



        }

		.facebook:hover {
           font-family: socicon ;
		   font-size: 40px;
		   color: blue;

	

        }

	   .twitter:hover {
           font-family: socicon ;
		   font-size: 40px;
		   color: cornflowerblue;


        }
	
		}

		section{
			width: 100%;
			height: 600px;
			display: table;

		}

		 .work{
			background-color: #4a3f60;
		}
	
		.poster-item{
			width: 150px;
			height: 200px;
			background-color: gray;
			z-index: -20;
			box-shadow: 0 2px 4px rgba(0, 0, 0, .6);
			margin:0 auto;
			-webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		}

		.poster-item:hover{
			-webkit-filter: blur(2px);
			-o-filter: blur(2px) ;
			filter: blur(2px) ;
		}

		h6{
			visibility: hidden;
			font-size: 20px;
			color: white;
			font-family: roboto;
			text-align: center;
			padding-top: 50%;
			z-index: 10;
		}
		h6:hover{
			visibility: visible;
		}
		h5{
			font-family: open-sans;
			color: white;
			text-align: center;
			padding-top: 10px;
		}
		.work .container h1{
			color: white;
			text-align: center;
			padding-top: 30px;
			font-size: 50px;
			font-family: open-sans;
			font-style: italic;
			padding-top: 15px;
			padding-bottom: 15px;
		}
		.work .container p{
			visibility: visible;
			font-family: ubuntu;
			line-height: 30px;
		}

		.holder{
			margin-top: -25%;
		}
		.text-block{
			
			padding: 30px;
			
		}


























       .twitter {
           font-family: socicon ;
		   font-size: 40px;
		   color: white;
		   padding: 1em;
		   opacity: 0.7;
		   -webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		   vertical-align: middle;
		   display: inline-block;

		   

        }
       .facebook {
           font-family: socicon ;
		   font-size: 40px;
		   color: white;
		   padding: 1em;
		   opacity: 0.7;
		   -webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		   vertical-align: middle;
		   display: inline-block;


        }
       .google {
           font-family: socicon ;
		   font-size: 40px;
		   color: white;
		   padding: 1em;
		   opacity: 0.7;
		   -webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		   vertical-align: middle;
		   display: inline-block;
	

        }

	   .google:hover {
           font-family: socicon ;
		   font-size: 40px;
		   color: red;



        }

		.facebook:hover {
           font-family: socicon ;
		   font-size: 40px;
		   color: blue;

	

        }

	   .twitter:hover {
           font-family: socicon ;
		   font-size: 40px;
		   color: cornflowerblue;


        }
		
